doctype html
html
	head
		title Aditi Bhatia

		link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet', type='text/css')
		link(href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.css', rel='stylesheet', type='text/css')
		link(href='/global.css?#{version}', rel='stylesheet', type='text/css')
		link(rel="icon" href="/img/icon.png")

		script window.global = {version: "#{version}", debug: !{devMode}}
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.js")
		script(src="/index.js?#{version}")

	body
		.container

			.row.header
				.col-sm-1

				.col-sm-3
					#logo
						img.logo(src="/img/logo.png" alt="aditi bhatia")

				.col-sm-7
					#nav
						a.navButton(x-section='projects').active#btnPortfolio Portfolio
						span= '///'
						a.navButton(x-section='about') About
						span= '///'
						a.navButton(x-section='contact') Contact

			.row
				.line

			.row#mainNav
				.col-sm-1

				.col-sm-2.col-xs-12
					a.filterButton.active(x-filter='all') All Work

				.col-sm-2.col-xs-3
					a.filterButton(x-filter='web') Web

				.col-sm-2.col-xs-3
					a.filterButton(x-filter='video') Video

				.col-sm-2.col-xs-3
					a.filterButton(x-filter='design') Design

				.col-sm-2.col-xs-3
					a.filterButton(x-filter='art') Art

			.row
				.lineBlack

			.row
				.col-lg-1
				.col-xs-12.col-lg-10.navSection#about !{content.about}

			.row
				.col-lg-1
				.col-xs-12.col-lg-10.navSection#contact !{content.contact}

			.navSection#projects

			.row
				.footer
					a.btnTop Back to Top

			.row
				.credit Copyright &copy; 2013 Aditi Bhatia. All rights reserved.

