doctype html
html
	head
		title Aditi Bhatia

		link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='/global.css?#{version}', rel='stylesheet', type='text/css')
		link(rel="icon" href="/img/icon.png")

		script window.global = {version: "#{version}", debug: !{devMode}}
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js")
		script(src="/index.js?#{version}")

	body
		.container

			.row.header
				.col-sm-1

				.col-sm-3
					#logo
						img.logo(src="/img/logo.png" alt="aditi bhatia")

				.col-sm-7
					#nav
						a Portfolio
						span= '///'
						a About
						span= '///'
						a Contact


			.row
				.line

			.row#mainNav
				.col-xs-1

				.col-xs-2
					a All Work

				.col-xs-2
					a Web

				.col-xs-2
					a Video

				.col-xs-2
					a Design

				.col-xs-2
					a Art

				.col-xs-1

			.row
				.lineBlack

			#projects
				.row
					.grid-sizer.col-xs-12.col-sm-4.col-md-3.col-lg-2

