doctype html
html
	head
		title Aditi Bhatia

		link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet', type='text/css')
		link(href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.css', rel='stylesheet', type='text/css')
		link(href='/global.css?#{version}', rel='stylesheet', type='text/css')
		link(rel='icon' href="/img/icon.png")

		link(href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css')

		script window.global = {version: "#{version}", debug: !{devMode}, analyticsId: "#{analyticsId}"}
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.js")
		script(src="/index.js?#{version}")
		script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', window.global.analyticsId, 'aditibhatia.com');ga('send', 'pageview');

	body
		.container

			.row.header
				.col-sm-1

				.col-sm-3.logo
					a.navButton(data-section='home')
						#title1 Aditi
						#title2 Bhatia

				.col-sm-7
					#nav
						a.navButton(data-section='home').active HOME
						span= '|'
						a.navButton(data-section='portfolio') PORTFOLIO
						span= '|'
						a.navButton(data-section='about') ABOUT
						span= '|'
						a.navButton(data-section='contact') CONTACT

			.row
				.line
				.lineBlack

			noscript.row
				h2 JavaScript is required to view the portfolio.

			.row.navSection#home
				.col-lg-1
				.col-xs-12.col-lg-10
					div !{content.home}
					#homeButton
						a.navButton(data-section="portfolio")
							img(src="/img/portfolio-button.png")

			.row.navSection#about
				.col-lg-1
				.col-xs-12.col-lg-10 !{content.about}

			.row.navSection#contact
				.col-lg-1
				.col-xs-12.col-lg-10 !{content.contact}			

			.navSection#portfolio
				.row#mainNav
					.col-md-2

					.col-md-2.col-sm-3.col-xs-12
						a.filterButton.active(data-filter='all') everything

					.col-md-2.col-sm-3.col-xs-4
						a.filterButton(data-filter='web') web

					.col-md-2.col-sm-3.col-xs-4
						a.filterButton(data-filter='video') video

					.col-md-2.col-sm-3.col-xs-4
						a.filterButton(data-filter='design') design

				.row.lineBlack

				.row#projects

			.row
				.gridSizer.col-xs-12.col-sm-6.col-md-4.col-lg-3

			#hidden(style="display:none;")

			.row
				.footer
					a.btnTop Back to Top

			.row
				.credit Copyright &copy; 2013 Aditi Bhatia. All rights reserved.